@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/style/styles.css">
    @*<script src="../node_modules/traceur/bin/traceur-runtime.js"></script>
    <script src="../node_modules/es6-module-loader/dist/es6-module-loader.js"></script>
    <script src="../node_modules/systemjs/dist/system.src.js"></script>
    <script src="../node_modules/angular2/bundles/angular2.dev.js"></script>*@

    @*<script src="https://github.jspm.io/jmcriffey/bower-traceur-runtime@0.0.87/traceur-runtime.js"></script>
    <script src="https://jspm.io/system@0.16.js"></script>*@
    <script src="https://code.angularjs.org/2.0.0-alpha.37/angular2.dev.js"></script>
    <script src="https://code.angularjs.org/2.0.0-alpha.37/router.dev.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="main" class="container">
            <vinny-app></vinny-app>
            <script>System.import('app');</script>
        </div>
    </div>
    <script src="~/js/vendor.js"></script>
    @*<script src="~/js/app/domain.js"></script>*@
    <script src="~/js/app.js"></script>
</body>
</html>

